@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --color-primary: #388FA3;
    --color-grey: #D9D9D9;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

/* body {
    padding: 0 15vw;
} */

.global-padding{
    padding: 0 15vw;
}

h1{
    font-family: 'Playfair Display', serif;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    font-weight: 300;
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 1.7vw;
    font-weight: 200;
}
p{
    font-weight: 200;
}

/* HEADER */
.header{
    width: 100%;
    margin-top: 2vw;
}
.header .row-image img{
    width: 7vw;
}
.header .row-content{
    padding: 2vw;
}
.header h1{
    font-weight: 100;
    font-size: 3.3vw;
    letter-spacing: 0.24vw;
}
.header .menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.header .menu .item a{
    cursor: pointer;
    font-weight: 200;
    font-size: 1vw;
    color: black;
    transition: 500ms ease;
    padding-top: 1vw;
}
.header .menu .item a:hover {
    color: var(--color-primary);
}

/* BANNER */
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 2.5vw;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 0.5vw;
    width: 0.5vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@media only screen and (max-width: 700px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/* EDUCATION */
.education{
    display: flex;
    flex-direction: row;
    margin-top: 7vw;
}
.education img{
    width: 30vw;
}
.education .content{
    padding-left: 5vw;
}
.education .content p{
    text-align: left;
    font-size: 1vw;
    padding: 1vw 0;
    margin-bottom: 2vw;
}
.education .content a{
    color: white;
    padding: 1vw 2vw;
    background-color: var(--color-primary);
    box-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    font-size: 1vw;
}
.education .content a:hover{
    box-shadow: none;
}


/* NEWS */
.news{
    width: 100%;
    margin-top: 7vw;
}
.news .content{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
.news .content .card{
    height: 25vw;
    width: 22vw;
    cursor: pointer;
}
.news .content .card img{
    width: 22vw;
}
.news .content .card h3{
    margin-top: 1vw 0;;
    color: black;
}
.news .content .card .news-date{
    font-size: 0.8vw;
    font-weight: 100;
    color: black;
}
.news .content .card .news-text{
    margin-top: 1vw;
    font-size: 1vw;
    color: black;
}




/* SYSTEM */
.system .title{
    margin-top: 7vw;
}
.system .apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}
.system .apps .card{
    background-color: var(--color-grey);
    width: 22vw;
    margin: 0.5vw;
    cursor: pointer;
}
.system .apps .card .container-icon{
    height: 15vw;
    margin: auto;
    text-align: center;
}
.system .apps .card .icon{
    font-size: 7vw;
    margin-top: 5vw;
    color: var(--color-primary);
}
.system .apps .card .container-text{
    text-align: center;
    width: 22vw;
    background-color: var(--color-primary);
    padding: 0.5vw 0;
}
.system .apps .card a{
    color: white;
    font-size: 1.8vw;
}


/* FOOTER */
.footer{
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 8vw;
    color: white;
}
.footer .container{
    padding: 5vw 15vw;
    display: flex;
    flex-direction: row;
}
.footer .container .nav{
    width: 20vw;
}
.footer .container .nav .title h3{
    font-weight: 200;
}
.footer .container .nav .menu{
    list-style-type: none;
    margin-top: 2vw;
}

.footer .container .nav .menu .item{
    padding: 0.5vw;
}
.footer .container .nav .menu .item a{
    font-weight: 200;
    color: white;
    font-size: 1vw;
}

.footer .container .account{
    margin-left: 0vw;
    width: 20vw;
}
.footer .container .account .title{
    margin-bottom: 2vw;
}
.footer .container .account .each-account{
    padding: 0.5vw;
}
.footer .container .account .each-account img{
    width: 1.5vw;
}
.footer .container .account .each-account a{
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
    padding-left: 1vw;
}

.footer .container .address{
    margin-left: 0vw;
}
.footer .container .address .title{
    margin-bottom: 2vw;
}
.footer .container .address .text-address{
    font-size: 1.2vw;
    margin-bottom: 1vw;
}
.footer .container .address .text-email{
    font-size: 1.2vw;
}
.footer .container .address .text-phone{
    font-size: 1.2vw;
}